
html, body{
	height: 100%;
	padding: 0px;
	margin: 0;
	background-color: black;
	color: white;
}

.container{
	width : 100%;
	height: 100%;
	position : relative;
}

.pane{
	position: absolute;
	/*background : black;*/
}
.stretch{
	height: 100%;
	width : 100%;
}

.media-player{
	text-align : center;
}

.media-wrapper{
	height: 100%;
	width : 100%;
}
.media-content{
	object-fit: fill;
	height: 100%;
	width : 100%;
}

.logo_wrapper{
    position: fixed;
    height : 40px;
    width : 80px;
    top:5px;
    left:5px;
    z-index: 10000;
}

.blynq_logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.default_img{
	height: 100%;
	width: 100%;
	object-fit:fill;
}

iframe{
	border : none;
}
